header h1 {
    text-align: center;
    font-size: 400%;
    color: #E1CC42;
}

nav button {
    font-size: 200%;
    margin: 20px;
    background-color: #8BE15D;
    padding: 20px;
    border-radius: 50%;
}

nav button:hover {
    background-color: #00E19A;
    color: white;
}

nav {
    text-align: center;
}

.wrapper {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    border-color: white;
    margin-bottom: 50px;
    color: white;
}

footer {
    border-top-style: solid;
    border-top-color: white;
    background-color: #237FE1;
    color: white;
    text-align: center;
}

body {
    background-color: #237FE1;
}